{% load static %}
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Doctor
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <script>
   function toggleUserDetails() {
            const userDetails = document.getElementById('user-details');
            userDetails.classList.toggle('hidden');
        }

        function logout() {
            alert('Đăng xuất thành công');
        }

        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('hidden');
        }
  </script>
  
 </head>
 <body class="bg-green-100 font-roboto">
        <!-- Header -->
    {% include 'partials/header.html' %}

    <div class="flex flex-col items-center max-w-5xl mx-auto mb-16">

    <!-- Sidebar -->
    {% include 'partials/sidebar.html' %}

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
    </body>
</html>