{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Pet Health Care System{% endblock page_title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="flex">
        <!-- Sidebar -->
        {% include "partials/sidebar.html" %}

        <!-- Main Content -->
        <div class="flex-1 p-6">
            <!-- Header -->
            <div class="bg-green-700 text-white p-4 rounded">
              <h1 class="text-xl font-bold">{% block page_header %}Trang tổng quan{% endblock page_header %}</h1>
          </div>

            <!-- Nội dung động -->
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>
