{% extends "doctor/base.html" %}
{% block page_header %}Dashboard - Tổng quan{% endblock page_header %}

{% block content %}
<div class="flex-1 p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
     <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <div class="flex items-center mb-4">
       <i class="fas fa-calendar-alt text-blue-500 text-2xl mr-2">
       </i>
       <h2 class="text-lg font-semibold">
        Lịch hẹn hôm nay
       </h2>
      </div>
      <p>
       Danh sách ca khám &amp; chăm sóc thú cưng.
      </p>
     </div>
     <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <div class="flex items-center mb-4">
       <i class="fas fa-paw text-orange-500 text-2xl mr-2">
       </i>
       <h2 class="text-lg font-semibold">
        Số lượng thú cưng nhập viện cần chăm sóc
       </h2>
      </div>
      <p>
       Thông tin về số lượng thú cưng nhập viện.
      </p>
     </div>
     <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <div class="flex items-center mb-4">
       <i class="fas fa-hourglass-half text-yellow-500 text-2xl mr-2">
       </i>
       <h2 class="text-lg font-semibold">
        Trạng thái ca khám
       </h2>
      </div>
      <p>
       Số lượng thú cưng đang chờ khám, đã khám xong.
      </p>
     </div>
     <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <div class="flex items-center mb-4">
       <i class="fas fa-bullhorn text-red-500 text-2xl mr-2">
       </i>
       <h2 class="text-lg font-semibold">
        Thông báo quan trọng
       </h2>
      </div>
      <p>
       Hủy lịch, lịch khám thay đổi, tin nhắn từ khách hàng.
      </p>
     </div>
    </div>
   </div>
  </div>
  {% endblock content %}
